# Build Folders
[Bb]in/
[Oo]bj/
artifacts/

# User-specific files
*.suo
*.user
*.sln.docstates

# ReSharper is a .NET coding add-in
_ReSharper*

# Rider
.idea

# Temporary csproj during build
*wpftmp.csproj
